// main

*,
*:after,
*::before {
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 outline: 0;
 text-rendering: optimizeLegibility;
 -webkit-text-stroke: 0;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
}


.app {
  display: flex;
  flex-direction: row;
  background-color: $main-bg-color;
}
