// Sidebar

$sidebar-bg: #333 !default;
$sidebar-width: 250px !default;

.sidebar {
	flex-shrink: 0;
	background-color: $sidebar-bg;
	overflow-x: hidden;

	width: 0;
  transition: width 0.4s ease-in;

	&.open {
		width: $sidebar-width;
		transition: width 0.4s ease-out;
	}
}
