@import "../../css/at-break.scss";

.Button {
  display: block;
  padding: var(--space-sm) var(--space-md);
  border: 0;
  outline: 0;
  font-family: monospace;
  font-size: var(--font-size-md);
  color: var(--color-light-3);
  background-color: var(--color-dark-1);
  cursor: pointer;
  transition: background-color var(--speed-3), color var(--speed-3);

  @include at-tablet {
    padding: var(--space-md) var(--space-lg);
  }
}

.Button:hover {
  color: var(--color-light-1);
  background-color: var(--color-dark-3);
}

.Button:disabled {
  color: var(--color-light-4);
  background-color: var(--color-dark-3);
  cursor: default;
}
