.Editor {
  display: grid;
  grid-template-areas:
      ".Editor__code .Editor__html";
  width: 100vw;
  height: calc(100vh - var(--header-height));
  grid-template-columns: 400px 1fr;
}

.Editor__code {
  overflow: hidden;
}

.Editor__html {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-1);
}

.Editor__html *,
.Editor__html *::after,
.Editor__html *::before {
  transition: all var(--speed-1);
}

.Editor__step-info {
  padding: var(--space-md);
}
