.Editor {
  position: absolute;
  top: 0;
  left: 0;

  width: 500px;
  height: 100vh;
  padding: var(--space-lg);

  font-family: 'Courier New', Courier, monospace;
  font-size: var(--font-size-md);
}
