@import "../../css/at-break.scss";

.Editor {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @include at-tablet {
    display: grid;
    grid-template-areas: ".Editor__code .Editor__html";
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    grid-template-columns: 550px 1fr;
    grid-template-rows: unset;
    height: calc(100vh - var(--header-height));
  }
}

.Editor__code {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-dark-6);

  @include at-tablet {
    overflow: visible;
  }
}

.Editor__html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;

  @include at-tablet {
    height: auto;
  }
}
.Editor__textarea {
  flex-grow: 1;
}

.Editor__html *,
.Editor__html *::after,
.Editor__html *::before {
  transition: all var(--speed-1);
}

.Editor__step-info {
  display: none;
  padding: var(--space-lg) var(--space-lg) 0;

  @include at-tablet {
    display: block;
  }
}


.Editor__buttons {
  @include at-tablet {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
  }
}
