.Editor {
  position: absolute;
  top: 0;
  left: 0;

  width: 500px;
  height: 100vh;
  padding: 0;

  font-family: 'Courier New', Courier, monospace;
  font-size: var(--font-size-md);
  background-color: var(--color-dark-2);
}

.Editor__wrap {
  position: relative;
}
