@import "../../css/at-break.scss";

.Editor {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "code"
    "html";
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;

  @include at-tablet {
    grid-template-areas:
      "code html";
    grid-template-columns: 460px auto;
    grid-template-rows: 1fr;
  }
}

.Editor__code {
  grid-area: code;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "step-info"
  "textarea"
  "buttons";
  position: relative;
  overflow: hidden;
  background: var(--color-dark-6);

  @include at-tablet {
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "buttons"
      "step-info"
      "textarea";
  }
}

.Editor__html {
  grid-area: html;

  // Center the Pen element
  display: flex;
  align-items: center;
  justify-content: center;
}

.Editor__textarea {
  grid-area: textarea;
  flex-grow: 1;
}

.Editor__html *,
.Editor__html *::after,
.Editor__html *::before {
  transition: all var(--speed-1);
}

.Editor__step-info {
  grid-area: step-info;
  padding: var(--space-lg) var(--space-lg) 0;

  @include at-tablet {
    display: block;
  }
}


.Editor__buttons {
  grid-area: buttons;
}
