.google {
  box-sizing: content-box;
  width: 75px;
  height: 50px;
  margin-top: 100px;
  margin-left: 120px;
  border-top: 50px solid #4285F4;
  border-right: 50px solid #4285F4;
  border-bottom: 50px solid #4285F4;
}
