// Code Box

$code-box-top: $controls-height !default;
$code-box-bg: #333 !default;
$code-box-padding: 15px !default;
$code-box-font-family: $monospace-font !default;
$code-box-font-size: 14px !default;

#code-box {
  * {
    box-sizing: border-box;
  }
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

  @include at-small {
    top: $code-box-top;
    width: $code-box-width;
  }
}

#code-box li {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: $code-box-padding;

  background-color: $code-box-bg;
  color: #fff;
  white-space: pre-wrap;
  font-family: $code-box-font-family;
  font-size: $code-box-font-size;
  outline: none;
  overflow: auto;
}

#code-box {
  @for $i from 1 through $steps {
    &.step#{$i} li:nth-child(#{$i}) {
      display: block;
    }
  }
}

