// Controls

$controls-width: $code-box-width !default;
$controls-height: 30px !default;

.controls {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: $controls-height;

  @include at-small {
    top: 0;
    width: $controls-width;
  }
}

.controls button {
  width: 50%;
  height: $controls-height;

  border: 0;
  outline: 0;
  cursor: pointer;
  background: $gray;
  font-size: 14px;
  color: darken($gray, 30%);

  &:hover {
    background: lighten($gray, 15%);
  }
}