// Current Step

.current-step {
  position: absolute;
  top: 50%;
  left: $controls-width / 2;
  z-index: 2;

  width: 30px;
  height: 30px;
  margin-left: -15px;


  text-align: center;
  font-family: 'Courier New';
  font-size: 15px;
  line-height: 30px;
  color: #000;
  background-color: lighten($gray, 10%);
  cursor: default;

  @include at-small {
    top: 0;
  }
}
