@import '../../css/at-break.scss';

.Buttons {
  display: flex;

  @include at-tablet {
    flex-direction: column;
  }
}

.Buttons .Button {
  flex-grow: 2;
}

.Buttons-group {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
