@import '../../css/at-break.scss';

.Buttons {
  display: flex;
}

.Buttons .Button {
  flex-grow: 2;
}

.Buttons .Logo {
  width: 100%;
}

.Buttons-group {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
