.google {
  box-sizing: content-box;
  width: 75px;
  height: 50px;
  margin-top: 100px;
  margin-left: 120px;
  border-top: 50px solid #4285F4;
  border-right: 50px solid #4285F4;
  border-bottom: 50px solid #4285F4;
  border-radius: 0 0 250px 0;
  position: relative;
}

.google:before {
  content: '';
  display: block;
  width: 250px;
  height: 250px;
  border-top: 15px solid #EA4335;
  position: absolute;
  top: -150px;
  border-left: 15px solid #FBBC05;
  border-bottom: 15px solid #34A853;
  right: -50px;
}
