.Code {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.Code__tag {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  margin: 0;
  padding: var(--space-md);
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--font-size-md);
  line-height: 21px;
  color: var(--color-light-1);
  background-color: var(--color-dark-1);
}
