@import "../../css/at-break.scss";

.Code {
  overflow-x: scroll;
}

.Code .Code__tag {
  width: 100%;
  height: 100%;
  padding: var(--space-lg);
  font-size: var(--font-size-sm);
  line-height: 1.3rem;
}

.Code__pre {
  height: 100%;
  margin: 0;
  padding: 0;
}
