@import "../../css/at-break.scss";

.Code {
  display: block;
  overflow-x: scroll;
}

.Code .Code__tag {
  margin: 0;
  padding: var(--space-lg);
  line-height: 1.4rem;
}

.Code__pre {
  height: 50vh;
  margin: 0;
  padding: 0;

  @include at-tablet {
    height: unset;
  }
}
