.Code {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.Code__tag {
  display: block;
  width: 100%;
  margin: 0;
  padding: var(--space-md);
  font-size: var(--font-size-md);
  color: var(--color-light-1);
  background-color: var(--color-dark-1);
}
