@import "../../css/at-break.scss";

.Code {
  display: block;
  overflow-x: scroll;
}

.Code .Code__tag {
  margin: 0;
  padding: var(--space-lg);
  font-size: var(--font-size-sm);
  line-height: 1.3rem;
}

.Code__pre {
  height: 40vh;
  margin: 0;
  padding: 0;

  @include at-tablet {
    height: unset;
  }
}
