.Logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60px;
  height: 60px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  background-color: var(--color-dark-1);
}

.Logo .css {
  display: block;
  font-size: var(--font-size-lg);
  font-weight: 200;
  letter-spacing: 0.05em;
}

.Logo .learn {
  display: block;
  font-size: var(--font-size-sm);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
