.LG-logo {
  position: relative;
  top: 10%;
  left: 10%;

  width: 100px;
  height: 100px;

  border-radius: 50%;
  background-color: #EA4335;
}

.G {
  width: 80%;
  height: 80%;

  position: absolute;
  left: 10%;
  top: 10%;
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  transform: rotateZ(45deg);
}

.L_and_eye {
  position: absolute;
  top: 35%;
  left: calc(50% - 3px);
  width: 10%;
  height: 30%;
  border: 3px solid #fff;
  border-right: none;
  border-top: none;
}
