/*
  Your css should be written in HTML box.
  Divided into steps in #code-box list.
*/
*,
*:after,
*:before {
  transition: all .4s; }

.playground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50%;
  left: 0; }
  @media (min-width: 768px) {
    .playground {
      left: 310px;
      bottom: 0; } }

#code-box {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0; }
  #code-box * {
    box-sizing: border-box; }
  @media (min-width: 768px) {
    #code-box {
      top: 30px;
      width: 310px; } }

#code-box li {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px;
  background-color: #333;
  color: #fff;
  white-space: pre-wrap;
  font-family: "Courier New";
  font-size: 14px;
  outline: none;
  overflow: auto; }

#code-box.step1 li:nth-child(1) {
  display: block; }

#code-box.step2 li:nth-child(2) {
  display: block; }

#code-box.step3 li:nth-child(3) {
  display: block; }

#code-box.step4 li:nth-child(4) {
  display: block; }

#code-box.step5 li:nth-child(5) {
  display: block; }

#code-box.step6 li:nth-child(6) {
  display: block; }

#code-box.step7 li:nth-child(7) {
  display: block; }

#code-box.step8 li:nth-child(8) {
  display: block; }

#code-box.step9 li:nth-child(9) {
  display: block; }

#code-box.step10 li:nth-child(10) {
  display: block; }

#code-box.step11 li:nth-child(11) {
  display: block; }

#code-box.step12 li:nth-child(12) {
  display: block; }

#code-box.step13 li:nth-child(13) {
  display: block; }

#code-box.step14 li:nth-child(14) {
  display: block; }

#code-box.step15 li:nth-child(15) {
  display: block; }

.controls {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 30px; }
  @media (min-width: 768px) {
    .controls {
      top: 0;
      width: 310px; } }

.controls button {
  width: 50%;
  height: 30px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: #ccc;
  font-size: 14px;
  color: gray; }
  .controls button:hover {
    background: #f2f2f2; }

.current-step {
  position: absolute;
  top: 50%;
  left: 155px;
  z-index: 2;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  text-align: center;
  font-family: 'Courier New';
  font-size: 15px;
  line-height: 30px;
  color: #000;
  background-color: #e6e6e6;
  cursor: default; }
  @media (min-width: 768px) {
    .current-step {
      top: 0; } }
