/*
  Your css should be written in HTML box.
  Divided into steps in #cssteps list.
*/
*, *:after, *:before {
  transition: all .4s; }

#cssteps {
  position: absolute;
  top: 30px;
  bottom: 15px;
  right: 15px;
  width: 310px;
  padding: 0; }
  #cssteps * {
    box-sizing: border-box; }
  #cssteps li {
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #333;
    color: #fff;
    white-space: pre-wrap;
    font-family: 'Courier New';
    font-size: 14px;
    outline: none;
    overflow: auto; }
  #cssteps.step1 li:nth-child(1) {
    display: block; }
  #cssteps.step2 li:nth-child(2) {
    display: block; }
  #cssteps.step3 li:nth-child(3) {
    display: block; }
  #cssteps.step4 li:nth-child(4) {
    display: block; }
  #cssteps.step5 li:nth-child(5) {
    display: block; }
  #cssteps.step6 li:nth-child(6) {
    display: block; }
  #cssteps.step7 li:nth-child(7) {
    display: block; }
  #cssteps.step8 li:nth-child(8) {
    display: block; }
  #cssteps.step9 li:nth-child(9) {
    display: block; }
  #cssteps.step10 li:nth-child(10) {
    display: block; }
  #cssteps.step11 li:nth-child(11) {
    display: block; }
  #cssteps.step12 li:nth-child(12) {
    display: block; }
  #cssteps.step13 li:nth-child(13) {
    display: block; }
  #cssteps.step14 li:nth-child(14) {
    display: block; }
  #cssteps.step15 li:nth-child(15) {
    display: block; }

.current-step {
  position: absolute;
  top: 15px;
  right: 325px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-family: arial;
  font-size: 15px;
  line-height: 20px;
  color: white;
  background-color: black; }

.controls {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 310px; }
  .controls button {
    border: 1px solid #ddd;
    width: 50%;
    height: 30px;
    outline: 0;
    cursor: pointer;
    background: #ddd;
    font-size: 14px;
    color: #919191; }
    .controls button:hover {
      background: #eaeaea; }
