@import '../../css/at-break.scss';

.PenList__item {
  display: block;
  margin-bottom: var(--space-lg);
  padding: var(--space-md);
  font-size: var(--font-size-lg);
  text-decoration: none;
  background-color: var(--color-dark-3);

  @include at-tablet {
    padding: var(--space-xl);
    font-size: var(--font-size-xl);
  }
}

.PenList__item:hover {
  background-color: var(--color-dark-4);
}

.PenList__title {
  color: var(--color-light-1);
}

.PenList__description {
  font-weight: 100;
}
