.PenList__item {
  display: block;
  margin-bottom: var(--space-lg);
  padding: var(--space-xl);
  font-size: var(--font-size-xl);
  text-decoration: none;
  background-color: var(--color-dark-3);
}

.PenList__item:hover {
  background-color: var(--color-dark-4);
}

.PenList__title {
  color: var(--color-light-1);
}

.PenList__description {
  font-weight: 100;
}
