@import '../../css/at-break.scss';

.Pen {

  .PenList {
    display: none;

    @include at-tablet {
      display: block;
    }
  }

  @include at-tablet {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 360px auto;
    grid-template-areas: "pen-list editor";
  }
}

.PenList {
  grid-area: pen-list;
}

.PenList__item {
  display: block;
  margin-bottom: var(--space-lg);
  padding: var(--space-md);
  font-size: var(--font-size-lg);
  text-decoration: none;
  background-color: var(--color-dark-3);

  @include at-tablet {
    padding: var(--space-xl);
    font-size: var(--font-size-xl);
  }
}

.PenList__item:hover {
  background-color: var(--color-dark-4);
}

.PenList__title {
  color: var(--color-light-1);
}

.PenList__description {
  font-weight: 100;
}
