@import '../../css/at-break.scss';

.Pen {
  .PenList {
    display: none;

    @include at-tablet {
      display: block;
      height: 100vh;
      overflow: scroll;
    }
  }

  @include at-tablet {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 350px auto;
    grid-template-areas: "pen-list editor";
  }
}

.PenList {
  grid-area: pen-list;
}

.PenList__item {
  display: block;
  margin-bottom: var(--space-md);
  padding: var(--space-md);
  font-size: var(--font-size-lg);
  text-decoration: none;
  background-color: var(--color-dark-2);

  @include at-tablet {
    padding: var(--space-xl);
    font-size: var(--font-size-xl);
  }
}

.PenList__item:hover {
  background-color: var(--color-dark-3);
}

.PenList__title {
  color: var(--color-light-1);
}

.PenList__description {
  font-weight: 100;
}
