.Header {
  display: flex;
  padding: var(--space-md);
  align-items: center;
  margin-bottom: var(--space-md);
  background-color: var(--color-dark-1);
}

.Header__item {
  margin-right: var(--space-md);
}
