@import "../../css/at-break.scss";

.Header {
  display: none;

  @include at-tablet {
    display: flex;
    height: var(--header-height);
    padding: var(--space-md);
    align-items: center;
    background-color: var(--color-dark-1);
  }
}

.Header__item {
  margin-right: var(--space-md);
}
