:root {
  --header-height: 82px;
}
.Header {
  display: flex;
  height: var(--header-height);
  padding: var(--space-md);
  align-items: center;
  background-color: var(--color-dark-1);
}

.Header__item {
  margin-right: var(--space-md);
}
