.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -60px 0 0 -70px;
}

.heart-body {
    width: 50%;
    height: 50%;
    transform: rotate(225deg);
    background: tomato;
}

.heart-body:before, .heart-body:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: gray;
    border-radius: 50%;
}

.heart-body:before {
    top: 50%;
}

.heart-body:after {
    left: 50%;
}
