.PenContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: var(--space-md);
  background-color: var(--color-dark-1);
}

.PenContent *,
.PenContent *::after,
.PenContent *::before {
  transition: all var(--speed-1);
}
