:root {
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 80px;
  --space-4xl: 120px;
  --space-5xl: 200px;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  --line-height-xs: 0.85rem;
  --line-height-sm: 1rem;
  --line-height-md: 1.25rem;
  --line-height-lg: 1.75rem;
  --line-height-xl: 2rem;

  --page-width: 1040px;

  --color-primary: #944b9e;

  --color-dark-1: #080808;
  --color-dark-2: #0e0d0d;
  --color-dark-3: #1b1b1b;
  --color-dark-4: #2c2c2c;
  --color-dark-5: #3b3b3b;
  --color-dark-6: #282c34;

  --color-light-1: #ffffff;
  --color-light-2: #ececec;
  --color-light-3: #808080;
  --color-light-4: #606060;

  --speed-1: 0.5s;
  --speed-2: 0.3s;

  --transition-md: var(--speed-2) ease-out;

  --screen-size-xs: 320px;
  --screen-size-sm: 768px;
  --screen-size-md: 1024px;
  --screen-size-lg: 1440px;
}
