*,
*:after,
*::before {
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 outline: 0;
 text-rendering: optimizeLegibility;
 -webkit-text-stroke: 0;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.9em;
  color: var(--color-light-3);
  background-color: black;
}

.App {
  width: 100vw;
  height: 100vh;
}

@media (min-width: 1024px) {
  .App {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 160px auto;
    grid-template-areas: "pen-list editor";
  }
}

@media (min-width: 1440px) {
  .App {
    grid-template-columns: 350px auto;
  }
}
