.App {
  width: 100vw;
  height: 100vh;
}

@media (min-width: 1024px) {
  .App {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 160px auto;
    grid-template-areas: "pen-list editor";
  }
}

@media (min-width: 1440px) {
  .App {
    grid-template-columns: 350px auto;
  }
}
