// At Break v1.5

// Breakpoints (Bootstrap values, Mobile first)
$breakpoints: (
  xs: 320px,
  sm: 768px,
  md: 1024px,
  lg: 1440px
) !default;

@mixin at-break($breakpoint, $only: false) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin at-xs {
  @include at-break(xs) {
    @content;
  }
}

@mixin at-sm {
  @include at-break(sm) {
    @content;
  }
}

@mixin at-md {
  @include at-break(md) {
    @content;
  }
}

@mixin at-lg {
  @include at-break(lg) {
    @content;
  }
}

@mixin at-sm-only {
  @media (max-width: #{map-get($breakpoints, sm) - .02}) {
    @content;
  }
}
