.Controls {
  display: flex;
  grid-area: buttons;
}

.Controls .Button {
  flex-grow: 2;
}

.Button {
  display: inline-block;
  padding: var(--space-xs) var(--space-sm);
  border: 0;
  outline: 0;
  font-family: monospace;
  font-size: var(--font-size-md);
  text-align: center;
  text-decoration: none;
  color: var(--color-light-1);
  background-color: var(--color-dark-3);
  cursor: pointer;
  transition: background-color var(--transition-md), color var(--transition-md);
}

@media (min-width: 1024px) {
  .Button {
    padding: var(--space-sm) var(--space-md);
  }
}

.Button:hover {
  background-color: var(--color-dark-2);
}

.Button:disabled {
  color: var(--color-light-4);
  background-color: var(--color-dark-3);
  cursor: default;
  opacity: 0.8;
}
