.Buttons {
  display: flex;
}

.Buttons .Button {
  flex-grow: 2;
}

.Button {
  display: block;
  padding: var(--space-xs) var(--space-sm);
  border: 0;
  outline: 0;
  font-family: monospace;
  font-size: var(--font-size-md);
  text-align: center;
  text-decoration: none;
  color: var(--color-light-1);
  background-color: var(--color-dark-3);
  cursor: pointer;
  transition: background-color var(--speed-3), color var(--speed-3);

  @include at-md {
    padding: var(--space-sm) var(--space-md);
  }

  @include at-lg {
    padding: var(--space-md) var(--space-lg);
  }
}

.Button:hover {
  background-color: var(--color-dark-2);
}

.Button:disabled {
  color: var(--color-light-4);
  background-color: var(--color-dark-3);
  cursor: default;
  opacity: 0.8;
}
