.Code {
  overflow-x: scroll;
  grid-area: textarea;
  flex-grow: 1;
}

.Code__tag {
  width: 100%;
  height: 100%;
  padding: var(--space-lg);
  font-size: var(--font-size-sm);
  line-height: 1.3rem;
}

.Code__pre {
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity var(--speed-1) ease-in-out;
}

.Code__pre.loading {
  opacity: 0.5;
}
