.Editor {
  grid-area: editor;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'stage'
    'code';
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  transition: all var(--transition-md);
}

@media (min-width: 1024px) {
  .Editor {
    grid-template-areas: 'code stage';
    grid-template-columns: var(--editor-width) auto;
    grid-template-rows: 1fr;
  }
}

@media (min-width: 1440px) {
  .Editor {
    grid-template-columns: 460px auto;
  }
}

.hljs {
  background: transparent !important;
}

.Editor__code {
  grid-area: code;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--space-xl) auto 1fr;
  grid-template-areas:
    'buttons'
    'step-info'
    'textarea';
  position: relative;
  overflow: hidden;
  background: var(--color-dark-3);
  transition: all var(--transition-md);
}

@media (min-width: 1024px) {
  .Editor__code {
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'buttons'
      'step-info'
      'textarea';
  }
}

.Editor__html {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 1;
  transition: opacity var(--speed-1) ease-in-out;
}

.Editor__html.loading {
  opacity: 0.5;
}

.Editor__html *,
.Editor__html *::after,
.Editor__html *::before {
  transition: all var(--speed-1);
}

.Editor__step-info {
  grid-area: step-info;
  padding: var(--space-lg) var(--space-lg) 0;
}

@media (min-width: 1024px) {
  .Editor__step-info {
    display: block;
  }

  .button--more {
    display: none;
  }
}

/* Resize */
.Editor__resize {
  display: none;
}

@media (min-width: 1024px) {
  .Editor__resize {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--space-md);
    height: 100%;
    cursor: pointer;
    z-index: 1;
    background-color: var(--color-dark-4);
  }

  .Editor__resize:hover {
    background-color: var(--color-dark-5);
  }
}
