.Editor {
  grid-area: editor;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "html"
    "code";
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
}

@media (min-width: 1024px) {
  .Editor {
    grid-template-areas:
      "code html";
    grid-template-columns: 340px auto;
    grid-template-rows: 1fr;
  }
}

@media (min-width: 1440px) {
  .Editor {
    grid-template-columns: 460px auto;
  }
}

.hljs {
  background: transparent !important;
}

.Editor__code {
  grid-area: code;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--space-xl) auto 1fr;
  grid-template-areas:
  "buttons"
  "step-info"
  "textarea";
  position: relative;
  overflow: hidden;
  background: var(--color-dark-3);
}

@media (min-width: 1024px) {
  .Editor__code {
    grid-template-rows: auto auto 1fr;
      grid-template-areas:
        "buttons"
        "step-info"
        "textarea";
  }
}

.Editor__html {
  grid-area: html;

  /* Center the Pen element */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Code {
  grid-area: textarea;
  flex-grow: 1;
}

.Editor__html *,
.Editor__html *::after,
.Editor__html *::before {
  transition: all var(--speed-1);
}

.Editor__step-info {
  grid-area: step-info;
  padding: var(--space-lg) var(--space-lg) 0;
}

@media (min-width: 1024px) {
  .Editor__step-info {
    display: block;
  }

  .button--more {
    display: none;
  }

}

.Editor__buttons {
  grid-area: buttons;
}
