.App {
  // Hide pen list at start on mobile
  .PenList {
    display: none;

    @include at-md {
      display: flex;
    }
  }

  @include at-md {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 160px auto;
    grid-template-areas: "pen-list editor";
  }

  @include at-lg {
    grid-template-columns: 350px auto;
  }
}

.PenList {
  grid-area: pen-list;
  padding-top: 50px;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  flex-direction: column;
  gap: var(--space-md);
}

// Pen list menu
.show-pen-list {
  overflow: hidden;

  .PenList {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: var(--space-md);
    background-color: var(--color-dark-1);
    overflow-y: scroll;
  }

  .Editor {
    pointer-events: none;
  }
}

.PenCard {
  display: block;
  // margin-bottom: var(--space-md);
  padding: var(--space-md);
  font-size: var(--font-size-lg);
  line-height: 26px;
  text-decoration: none;
  background-color: var(--color-dark-2);

  @include at-md {
    padding: var(--space-lg);
    font-size: var(--font-size-md);
    line-height: 20px;
  }

  @include at-lg {
    padding: var(--space-xl);
    font-size: var(--font-size-lg);
  }
}

.PenCard.active,
.PenCard:hover {
  background-color: var(--color-dark-3);
}

.PenCard__title {
  color: var(--color-light-1);
}

.PenCard__description {
  font-weight: 100;
}

.PenList__close {
  position: sticky;
  top: var(--space-lg);
  margin: 0 0 var(--space-lg) auto;

  @include at-md {
    display: none;
  }
 }
