.Pen {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .Pen {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 160px auto;
    grid-template-areas: 'pen-list editor';
  }
}

@media (min-width: 1440px) {
  .Pen {
    grid-template-columns: 350px auto;
  }
}
