.PenCard {
  display: block;
  padding: var(--space-md);
  text-decoration: none;
  color: var(--color-light-3);
  background-color: var(--color-dark-2);
  transition: background-color, var(--transition-md);
}

@media (min-width: 1024px) {
  .PenCard {
    padding: var(--space-lg);
  }
}

@media (min-width: 1440px) {
  .PenCard {
    padding: var(--space-xl);
  }
}

.PenCard.active,
.PenCard:hover {
  background-color: var(--color-dark-3);
}

.PenCard__name {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: 500;
  color: var(--color-light-2);
}

@media (min-width: 1024px) {
  .PenCard__name {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
  }
}

@media (min-width: 1440px) {
  .PenCard__name {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
}

.PenCard__info {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-xl);
  font-weight: 300;
  color: var(--color-light-3);
}

@media (min-width: 1024px) {
  .PenCard__info {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
  }
}

@media (min-width: 1440px) {
  .PenCard__info {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
}

.PenCard__html {
  display: flex;
  align-items: center;
  justify-content: center;
}
