.PenList {
  /* Hide pen list at start on mobile */
  display: none;
  grid-area: pen-list;
  padding-top: 50px;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  flex-direction: column;
  gap: var(--space-md);
}

@media (min-width: 1024px) {
  .PenList {
    display: flex;
  }
}

/* Pen list menu */
.show-pen-list {
  overflow: hidden;
}

.show-pen-list .PenList {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: var(--space-md);
  background-color: var(--color-dark-1);
  overflow-y: scroll;
}

.show-pen-list .Editor {
  pointer-events: none;
}

.PenList__close {
  position: sticky;
  top: var(--space-lg);
  margin: 0 0 var(--space-lg) auto;
 }

 @media (min-width: 1024px) {
  .PenList__close {
    display: none;
  }
 }
