.Progress {
  display: flex;
  width: 100%;
  height: var(--space-xl);
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .Progress {
    height: var(--space-2xl);
  }
}

/* Default (not done) */
.Progress__step {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--space-lg);
  height: var(--space-lg);
  margin: 0 var(--space-sm);
  border-radius: 100%;
  font-size: var(--font-size-lg);
  font-weight: 700;
  background-color: var(--color-dark-3);
  transition: all var(--transition-md);
}

@media (min-width: 1024px) {
  .Progress__step {
    width: var(--space-xl);
    height: var(--space-xl);
  }
}

/* Done */
.Progress__step.done {
  background-color: var(--color-light-2);
  color: var(--color-dark-4);
}

/* Done - Line */
.Progress__step.done::after {
  position: absolute;
  left: 100%;
  content: '';
  display: block;
  width: var(--space-md);
  height: var(--space-sm);
  background-color: var(--color-light-1);
}

/* Active */
.Progress__step.active {
  background-color: var(--color-light-1);
  color: var(--color-dark-1);
  font-size: var(--font-size-xl);
  font-weight: 700;
  width: var(--space-xl);
  height: var(--space-xl);
}

@media (min-width: 1024px) {
  .Progress__step.active {
    width: var(--space-2xl);
    height: var(--space-2xl);
  }
}
