@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply w-full h-full;
  }
}

.Button {
  @apply inline-block
    py-1 px-2 md:px-2
    outline-none
    text-sm font-mono text-neutral-400
    text-center
    decoration-0
    cursor-pointer
    transition-colors
    rounded-2xl
    bg-neutral-800
    sm:hover:bg-neutral-700/60
    disabled:bg-neutral-800/70
    active:bg-neutral-700/80 sm:active:bg-neutral-700/80;
}

.hljs {
  @apply bg-transparent
  w-full
  h-full
  text-sm
  p-6 !important;
}

/**
 * Apply smoothing transition to all children
 */
.transition-all-children *,
.transition-all-children *:before,
.transition-all-children *:after {
  @apply transition-all duration-300 ease-in-out;
}

.debug * {
  box-shadow: 0 0 1px inset;
}

.nav-link {
  @apply text-xs text-neutral-600 uppercase;
}
