:root {
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.75rem;

  --gif-width: 248px;
  --page-width: 1040px;

  --color-primary: #944b9e;

  --color-dark-1: #080808;
  --color-dark-2: #1b1b1b;
  --color-dark-3: #2c2c2c;
  --color-dark-4: #3b3b3b;

  --color-light-1: #ffffff;
  --color-light-3: #808080;
}

*,
*:after,
*::before {
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 outline: 0;
 text-rendering: optimizeLegibility;
 -webkit-text-stroke: 0;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 21px;
  letter-spacing: 0.05em;
  line-height: 32px;
  color: var(--color-light-3);
  background-color: var(--color-dark-2);
}

a {
  color: var(--color-light-3);
}

.Page {
  padding: var(--space-lg);
}

.Page__title {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-md);
  font-weight: 100;
}
