:root {
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.90rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.75rem;

  --page-width: 1040px;

  --color-primary: #944b9e;

  --color-dark-1: #080808;
  --color-dark-2: #0e0d0d;
  --color-dark-3: #1b1b1b;
  --color-dark-4: #2c2c2c;
  --color-dark-5: #3b3b3b;
  --color-dark-6: #282c34;


  --color-light-1: #ffffff;
  --color-light-2: #ececec;
  --color-light-3: #808080;

  --speed-1: 0.6s;
  --speed-2: 0.4s;
  --speed-3: 0.25s;
}

*,
*:after,
*::before {
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 outline: 0;
 text-rendering: optimizeLegibility;
 -webkit-text-stroke: 0;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.9em;
  color: var(--color-light-3);
  background-color: var(--color-dark-2);
}

a {
  color: var(--color-light-3);
}

.App {
  width: 100vw;
  height: 100vh;
}

.Page {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: var(--space-lg);
}

.Page__title {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-md);
  font-weight: 100;
}
