@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./prism-atom-dark.css');

@layer base {
  html,
  body,
  #__next {
    @apply w-full h-full;
  }

  html {
    @apply bg-black;
  }
}

.editor-css textarea {
  @apply outline-none;
}

@keyframes bounce-r {
  0%,
  100% {
    transform: translateX(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-r {
  animation: bounce-r 1s infinite;
}
