@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./prism-atom-dark.css');

@layer base {
  :root {
    --pen: 220px;
  }

  html,
  body,
  #__next {
    @apply w-full h-full scroll-smooth transition-colors duration-500 ease-in-out;
  }
}

.cm-content {
  @apply text-base;
}

@layer utilities {
  .Button svg {
    @apply w-5 h-5 opacity-70;
  }
}

@layer components {
  .label {
    @apply block w-full uppercase text-xs tracking-wide text-black/60 dark:text-white/60 mb-1;
  }

  .input {
    @apply block w-full py-2 px-3 outline-0 rounded bg-gray-700 font-mono text-sm font-light;
  }
}

.editor-css textarea {
  @apply outline-none;
}

@keyframes bounce-r {
  0%,
  100% {
    transform: translateX(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-r {
  animation: bounce-r 1s infinite;
}
